<div class="full-background flex">
    <div class="welcome-message">
         <h1>Welcome to POS System 😊!</h1>
        <p>
            "Our point of sale (POS) application helps you manage your products, customers, inventory, orders, cashiers, and invoices easily.<tr></tr>
             Follow the on-screen instructions to get started." <tr></tr>
                        Click here to scroll to the navbar.
        </p>
        <button class="scroll-to-top" (click)="scrollToTop()">Scroll to top</button> 
    </div>
  
</div>